* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.container {
  max-width: 1000px;
  margin: auto;
}

header {
  background-color: rgb(20, 88, 88);
  text-align: center;
  color: white;
  padding: 10px;
}

.title {
  font-size: 26px;
}

section {
  padding: 20px;
  background-image: url('../assets/people.jpg');
  background-size: cover;
  overflow: hidden;
}

.formContainer {
  max-width: 230px;
  background-color: rgba(255, 255, 255, 0.445);
  padding: 20px;
  float: right;
}

h2 {
  font-size: 18px;
}

.mb {
  margin-bottom: 15px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.76);
}

option {
  color: white;
}

input,
select {
  color: rgba(255, 255, 255, 0.76);
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  background-color: rgba(20, 88, 88, 0.74);
  border-radius: 15px;
}

input[type='submit'] {
  color: white;
  background-color: rgb(20, 88, 88);
  font-weight: bold;
  font-size: 20px;
  border-radius: 15px;
}

option {
  text-align: center;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('../assets/arrow.jpg');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

.picture {
  width: 160px;
  border-radius: 100%;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.69);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.43);
}

footer {
  background-color: #202121;
  padding: 40px;
  text-align: center;
}

.description {
  display: inline-block;
  color: white;
  max-width: 40%;
  margin-left: 20px;
  text-align: left;
}

.description p,
.description h3 {
  margin-bottom: 20px;
}

.description h3 {
  font-size: 24px;
}

.rodape {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding: 25px;
  color: white;
}

.rodapecontato {
  background-color: white;
  text-decoration: none;
  color: blue;
}
